<div class="row">
	<div class="col-md-5">
<%= simple_form_for @image, html: { class: 'form-horizontal'} do |form| %>
	<%= form.input :file, label: 'Gif File' %>
	<%= form.input :title %>
	<%= form.input :categories %>
	<%= form.submit  'Upload Gif', class: 'btn btn-primary'%>
<% end %>
	</div>
</div>
